.footer{
    background-image: linear-gradient(to top,transparent,#ffd5e0,transparent );
    padding: 2rem;}

.footer-img{
    height: 3rem;
    width: 4rem;
    display: flex;
    margin: auto;
}

h3{
    text-align: center;
    font-family: 'Petit Formal Script', cursive;
    font-size: 1.3rem;
    color: #575757;
    
}